body {
    /* Sticky footer */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}






.container {
    /* display: flex;
     /* Sticky footer */
    flex-grow: 1;
}



.background {
    background-image: url("/picture/1.jpg"); /*task-manager/public/   вставить если в локал хосте не прямой путь  DocumentRoot "/xampp/htdocs/task-manager/public"
<Directory "/xampp/htdocs/task-manager/public">*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

}

.words_input {
    font-family: 'Montserrat', sans-serif;


}

.btm_submit {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #c3bd78;

}

.btm_submit:hover {
    background-color:rgb(0 0 0.5);
}


.btm_submit1 {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: cornsilk;
    border-radius: 30px;
}


.btm_submit1:hover {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}

.btm_submit12 {
    background-color: #340407;
    font-family: 'Montserrat', sans-serif;
    color:white;
    border-radius: 30px;
    MARGIN-BOTTOM: 10PX;
}

.btm_submit11 {
    background-color: #0c0d34;
    font-family: 'Montserrat', sans-serif;
    color: cornsilk;
    border-radius: 30px;

}

.col-12{
    max-width: 100%;
    margin-top: 2rem;
}
.card {
    font-family: 'Montserrat', sans-serif;
    color:white;


}
.card-title {
    text-align: center;
}
.card-body {
    text-align: center;
}


.btn {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

#newTaskBtn {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


 .btm_submit12:hover {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;

}

#newTaskBtn {

}

.footer {
    /* Sticky footer */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
    display: none;
}


.footer-words {
    font-family: 'Montserrat', sans-serif;
    color:white;

}



.table {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.mb-3 {
    margin-top:1rem;
}


